.listItem {
  display: flex;
  align-items: flex-start; /* 세로 정렬 시작점으로 설정 */
}

.imageContainer {
  margin-right: 20px; /* 이미지와 나머지 내용 사이 간격 조절 */
}

.contentContainer {
  display: flex;
  flex-direction: column; /* 세로로 나열하도록 설정 */
}

.container ul li img {
  display: block;
  width: 230px;
  height: 270px;
  margin-bottom: 20px;
  object-fit: cover;
}

.btn {
  align-items: center;
  text-align: center;
}

.btn button {
  text-align: center;
  background-color: white;
  border: 0;
  font-size: 20px;
  border-radius: 20px;
}

.btn button:active {
  background-color: #fc1055;
}

.btn button:hover {
  background-color: #fc1055;
}

hr {
  height: 1px;
}
